@import './mixins.scss';

.about {
    min-height: 100vh;
    position: relative;
    background: url('../assets/images/background.jpg') no-repeat 50%/cover;
    padding-top: 205px;

    &__title {
        max-width: 535px;
        margin-top: 10px;
    }
    @media (max-width: 415px) {
        &_title {
            font-size: 26px;
            line-height: normal;
        }
    }

    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }

    &__buttons {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }

    &__link {
        color: #000;
        font-weight: bold;

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}

@media (max-width: 415px) {
    .about {
        background: url('../assets/images/background.jpg') no-repeat 60%/cover;
    }
}